
body {
    background-image: url('/content/static/img/bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.ui-widget-header {
    background: #1E83EF url('/content/static/img/follow/ui-bg_gloss-wave_35_f6a828_500x100.png') 50% 50% repeat-x !important;
}
