/*
 * Don't add custom CSS unless you absolutely have to...  usually in response to shared JavaScript components
 * which rely on jive.css...
 */

.arc {
  fill-opacity: .2;
}

.axis .fill {
  stroke: #aaa;
  stroke-width: 8px;
  stroke-linecap: square;
}

.axis .stroke {
  stroke: #fff;
  stroke-width: 12px;
  stroke-linecap: square;
}


/* Tenant/user picker: eliminate list item numbering */
li.j-listitem {
    list-style: none;
}

/* theme */
body {
    background-image: url(/static/amza/img/bkg.jpg);
}

/* Used by event stream */
div.pad {
    padding: 3px;
}

#fig {
  width: 880px;
  height: 400px;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

/* Used by event stream and view inspection to allow for links in JSON dumps */
div.pre-ish {
    font-family: courier, "courier new", monospace;
    font-size: 1em;
    background-color: #f5f5f5;
    color: #000;
    white-space: pre-wrap;
    border-radius: 4px;
}

div.container {
    width: 100% !important;
}

.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

.vertical-text__inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
}

/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
    content: "";
    display: block;
    margin: -1.5em 0 100%;
}

property-title {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 16px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #ccc
}

table.shadow-property {
    -moz-box-shadow: 2px 2px 4px 5px #ccc;
    -webkit-box-shadow: 2px 2px 4px 5px #ccc;
    box-shadow: 2px 2px 4px 5px #ccc;
    background-color: #555555;
}

span.dropt:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}

span.dropt:hover span {
    left: 2%;
    background: #ffffff;
}

span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 4px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

span.dropt:hover span {
    margin: 20px 0 0 0px;
    background: #ffffff;
    z-index: 6;
}

div.upena-hs-selector {
    display: none;
    z-index: 2000;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.upena-hs-choice {
    border-radius: 2px;
    background-color: #999;
    color: #fff;
    padding: 2px;
}

input.upena-hs-field-broken {
    border-color: red;
    border-style: solid;
}

div#upena-cfg-pending {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;
}

div.upena-cfg-pending-container {
    margin: 0 10px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px 1px 0 1px;
    border-color: #999;
    border-style: solid;
    border-radius: 6px 6px 0 0;
}

.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}

