{namespace soy.page}

/**
*
*/
{template .overviewRegion}

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="overview"></div>
        </div>
    </div>
{/template}
